[Unit]
Description=Runonce Provisioner
After=multi-user.target

[Service]
Type=simple
User=root
Environment="TERM=linux"
ExecStart=/bin/firstboot.sh
Restart=no

[Install]
WantedBy=multi-user.target