[Unit]
Description=Add MAAS Admin User
After=maas-regiond.service

[Service]
Type=simple
User=root
Environment="TERM=linux"
ExecStart=/bin/addmaasuser.sh
Restart=no

[Install]
WantedBy=multi-user.target
